:root {
  --a: #e465a2;
  --b: #ea9a3d;
  --c: #54d489;
  --d: #54aadd;
  --e: #734fc9;
  --f: #2f3483;
}

body {
  margin: 0;
}

#root {
  display: flex;
  width: 100vw;
  height: 100vh;
}

svg {
  width: 100%;
  height: 100%;
}
